html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* ------------------------------------------- */
/* My CSS Starts Below! */
/* Best viewed fullscreen on a 24"inch monitor */

html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 125%;
    height: 100%;
}

body {
    background: url(./assets/bgimg.png);
    font-size: 0.8rem;
}

.wrapper {
    min-height: 100%;
	margin: 0 auto -38px;
}

form,
.flex1,
.vcCard,
.voiceRoles,
.aniChara,
.overlay {
    display: flex;
    justify-content: center;
}

h1,
a:hover,
.roles h2,
input[type="submit"]:hover,
.overlay .animeName,
.overlay .charaName,
footer p {
    color: #FFFFFF;
    margin: 0;
}

h1,
input[type="submit"],
.roles,
footer {
    background: #00BBFF;
}

h2,
form i {
    font-size: 1.5rem;
}


/* ----------------------------------- */
/* Header Content Code */

h1 {
    font-size: 2.6rem;
    font-weight: 900;
    padding: 5px 5px 5px 50px;
    box-shadow: 0 1px 8px #555555;
}


/* ----------------------------------- */
/* Main Content Code */

/* ----------------- */
/* Search Input Code */
/* ----------------- */

form {
    font-size: 1rem;
    margin: 50px 0;
}

form i {
    margin: 10px 15px 0 0;
}

input {
    font-family: 'Noto Sans TC', sans-serif;
    border: none;
    width: 40%;
    padding: 10px;
}

input[type="submit"] {
    width: 200px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background: #00AAE8;
    transition-duration: 0.3s;
}

#searchInput {
    border-bottom: solid 2px #00BBFF;
}


/* --------------------- */
/* Voice Actor Info Code */
/* --------------------- */

.charaList {
    background: #EFEFEF;
    width: 60%;
    height: 430px;
    padding: 40px;
    margin: 30px 0 80px 0;
}

.instruction {
    font-size: 1rem;
    text-transform: uppercase;
}

.vcCard img {
    width: 225px;
    border: solid 2px #00BBFF;
    box-shadow: -8px -8px 0px #00BBFF;
    margin: 0 30px;
}

.vcInfo,
.aniChara {
    list-style: none;
}

.vcInfo h2 {
    color: #00A6E2;
    margin: 20px 0;
}

.vcInfo h3 {
    font-size: 2.8rem;
    font-weight: 500;
    margin: 20px 0 40px 0;
}


/* -------------------- */
/* Section Divider Code */
/* -------------------- */

.roles h2 {
    padding: 10px 0 10px 50px;
}


/* -------------------- */
/* Voice Roles Code */
/* -------------------- */

.voiceRoles {
    flex-direction: column;
    align-items: center;
}

.notice {
    background: #EFEFEF;
    text-align: center;
    margin: 120px 0 0 0;
    padding: 20px 0;
    width: 650px;
}

.aniChara {
    flex-wrap: wrap;
    width: 85%;
    margin: 80px 0;
    padding: 0;
}

.aniChara li {
    position: relative;
    margin: 30px;
}

.overlay {
	background: rgba(0, 0, 0, 0.80);
    color: #00BBFF;
    text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 20px;
	flex-direction: column;
}

.overlay:hover {
	opacity: 1;
}


/* ----------------------------------- */
/* Footer Code */

footer {
    text-align: center;
    height: 38px;
    padding-top: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    transition-duration: 0.3s;
}